/*
 Theme Name: Mycobio Bricks Child
 Theme URI: https://mycobio.co.nz
 Description: Child theme for Bricks on Mycobio
 Author: Brent Williams
 Author URI: https://mycobio.co.nz
 Template: bricks
 Version: 1.0
 Text Domain: mycobio-bricks-child
*/
